ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px black;
  width: 300px;
  margin-top: 40px;
}

img {
  height: 150px;
  width: 150px;
}

.stockImage {
  background: white url(./photos/IMG_5270.png) left no-repeat;
}