body {
  background-color: rgb(204, 198, 198);
}

ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

.list-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px white;
  width: 250px;
  margin-top: 40px;
  margin-left: 50px;
}

img {
  height: 150px;
  width: 150px;
}

#main {
  display: inline;
}

#main img {
  height: 160px;
  width: 160px;
  margin: 50px;
  
}

#main img:hover{
    transform: scale(1.5);
    transition: 3s;
}

#details{
    margin-right: 250px;
    margin-top: -320px;
    font-weight: bold;
    text-align: left;
}

#buttons{
    margin-top: 40px;
    margin-right: 250px;
}
#shoeDetail{
    height: 320px;
    width: 365px;
    margin-left: 320px;
    margin-top: 30px;
}

#editForm{
    font-weight: bold;
    margin-left: 520px;
    margin-top: 30px;
    font-size: 18px;
}

#editForm2{
    margin-left: 100px;
}

#newFormButton{
    margin-right: 510px;
}